body {
  margin: 0;
  padding: 0;
}
hr {
  margin-top: 50px;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page h1 {
  font-style: italic;
  border-bottom: 1px dashed #ccc;
}

.game-wrap p {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.game-wrap input {
  display: block;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.game-wrap button {
  display: block;
  width: 80%;
  height: 2rem;
  margin: 1rem auto;
}
.top-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
